.google-title{
    text-align: center;
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-input{
    display: flex;
    justify-content: center;
}
input{
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
}
.submit{
    display: flex;
    justify-content: center;
}
button{
    padding: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: blue;
}
button:hover{
    background-color: blue;
    color: white;
}